$carousel-img-length: 1024px;
$carousel-img-height: 576px;

body {
    padding-top: 70px;
    height: 100vh;
}

.carousel-item {
    img {
        max-height: $carousel-img-height;
    }
}

footer {
    margin-top: auto;
    left: 0;
    right: 0;
}